@charset "utf-8";
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
body{font:14px/1.5 "Microsoft Yahei",Helvetica,Arial,sans-serif;color:#666;background-color:#FFF;}
abbr,article,aside,bb,datagrid,datalist,details,dialog,event-source,figure,footer,header,mark,menu,meter,nav,output,progress,section,time{margin:0;padding:0;display:block;}
table{border-collapse:collapse;border-spacing:0;}
ol, ul{margin:0; padding:0; list-style-position:inside;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
fieldset, img{border:0 none;}
img{vertical-align:bottom;}
a{text-decoration:underline;color:#444;}
a:hover{text-decoration:underline;}
em{font-style:normal; font-weight:bold; margin:0 3px;}
input, textarea{padding:2px; color:#666;}
textarea{overflow-y:auto;}
button, label{cursor:pointer;}
input,select,textarea{font:12px Tahoma,Arial,simsun;}
textarea{border:1px solid #ccc;}
.clearfix{display:block;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both; font-size:0; line-height:0;}
.clear{height:0;overflow:hidden;clear:both;display:block;}
.none{display:none;}
.block{display:block;}
.v_m{vertical-align:middle;}
pre {text-align:left;}

.header {min-height:52px; background-color:#4a4a4a;}
.header h1 {float:left; font-size:16px; color:#FFF; padding:14px 20px; background:#368EE0; position:fixed;}

.wrapper {display:-webkit-flex; display:flex;}
.menu {width:146px; background:#eee;}
.menu ul {width:146px; position:fixed;}
.menu li {text-align:center; line-height:50px; color:#666; cursor:pointer; list-style:none; border-bottom:2px #eee solid; background:#eee;}
.menu li:hover, .menu .current {color:#333; border-bottom-color:#368EE0; background:#ddd;}
.main {-webkit-flex:1; flex:1; padding:20px; line-height:2; background:#f9f9f9; display:none;}
.main dt {font-size:18px; line-height:35px; font-weight:bold; border-bottom:1px solid #ddd;}
.main dd {padding:10px 0;}